@import "../../assets/variable";

.header{
  width: 100%;
  background-color: $color-2;
  display: flex;
  justify-content: center;
  & a{
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    color: $color-6;
  }
}
