<form [formGroup]="form">
  <div class="item-name">
    <div *ngIf="!activeItem else inputTemplate" (dblclick)="activeItem=!activeItem">{{ title }} styles</div>
    <button type = "button" (click)="showStyles=!showStyles" *ngIf="!showStyles else buttonUp" class="btn">&#5167;</button>
  </div>
  <div class="item-styles" *ngIf="showStyles">
    <form [formGroup]="elementForm">
      <div>
        <label id="elementName">Element Name</label>
      </div>
      <input>
      <div *ngFor="let style of keys">
        <div>
          <label id="{{style}}"> {{style}}:</label>
        </div>
        <input formControlName="{{style}}">
      </div>
    </form>
    <button type ='submit' (click)="enterChanges(elementForm.value)">Apply Changes</button>
  </div>
  <ng-template #inputTemplate>
    <input formControlName="title">
    <button (click)="activeItem=!activeItem">Apply Changes</button>
  </ng-template>
  <ng-template #buttonUp>
    <button type = "button" (click)="showStyles=!showStyles" class="btn">&#5169;</button>
  </ng-template>
</form>
