
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="item-name">{{ title }} styles</mat-panel-title>
  </mat-expansion-panel-header>
  <form [formGroup]="elementForm">
    <div>
      <label id="elementName">Element Name</label>
    </div>
    <input>
    <div *ngFor="let style of keys">
      <div>
        <label id="{{style}}"> {{style}}:</label>
      </div>
      <input formControlName="{{style}}">
    </div>
    <button type ='submit' (click)="enterChanges(elementForm.value)">Apply Changes</button>
    <button *ngIf="title!='general'" (click)="deleteElement(title)">Delete element</button>
  </form>
</mat-expansion-panel>
