<h1>Login</h1>
<div class="form-wrapper">
  <div>
    <div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="control">
          <input type="text" placeholder="email" formControlName="email" >
        </div>
        <div class="control">
          <input type="password" placeholder="password" formControlName="password">
        </div>
        <div class="form-buttons">
          <button class="form-button sign-up" (click)="routeToRegister()">Sign up</button>
          <button class="form-button sign-in" type="submit" [disabled]="form.invalid">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</div>
