@import "../../../assets/styles/variable";

.example-portal-outlet{
  display: flex;
  height: 97vh;
}

.portal-outlet{
  width: 33.33vw;
  height: 97vh;
  border-right: 1px dotted $color-2;

  &:last-child{
    border: none
  }
}

.portal{
  padding: 0;
}

h3{
  margin-left: 20px;
}

h1{
  padding: 20px;
  margin: 0;
  color: $color-8;
  font-weight: 500;
}
