<div>
  <a routerLink="/login">Logout</a>
</div>
<div class="example-portal-outlet">
  <div class="portal-outlet">
    <ng-container #accordionContainer cdkPortalOutlet></ng-container>
  </div>
  <div class="portal-outlet">
    <ng-container #builderContainer cdkPortalOutlet></ng-container>
  </div>
  <div class="portal-outlet">
    <ng-container #elementsContainer cdkPortalOutlet></ng-container>
  </div>
</div>

<div #comp1 class="portal-outlet">
  <app-general-styles [styleObj]="generalStyle$ | async"></app-general-styles>
  <div *ngFor="let item of dropArray">
    <div [ngSwitch]="item.slice(0,-2)">
      <div *ngSwitchCase="'button'">
        <app-acordion-block [title]="item[0].toUpperCase() + item.slice(1)" [styleObj]="btnStyles$ | async" [funcType]="'button'"></app-acordion-block>
      </div>
      <div *ngSwitchCase="'checkbox'">
        <app-acordion-block [title]="item[0].toUpperCase() + item.slice(1)" [styleObj]="checkboxStyles$ | async" [funcType]="'checkbox'"></app-acordion-block>
      </div>
      <div *ngSwitchCase="'input'">
        <app-acordion-block [title]="item[0].toUpperCase() + item.slice(1)" [styleObj]="inputStyles$ | async" [funcType]="'input'"></app-acordion-block>
      </div>
      <div *ngSwitchCase="'label'">
        <app-acordion-block [title]="item[0].toUpperCase() + item.slice(1)" [styleObj]="labelStyles$ | async" [funcType]="'label'"></app-acordion-block>
      </div>
      <div *ngSwitchCase="'select'">
        <app-acordion-block [title]="item[0].toUpperCase() + item.slice(1)" [styleObj]="selectStyles$ | async" [funcType]="'select'" ]></app-acordion-block>
      </div>
      <div *ngSwitchCase="'textarea'">
        <app-acordion-block [title]="item[0].toUpperCase() + item.slice(1)" [styleObj]="textareaStyles$ | async" [funcType]="'textarea'"></app-acordion-block>
      </div>
    </div>
  </div>
</div>
<div [formGroup]="form" #comp2 class="portal" >
  <h3>Builder section</h3>
  <div cdkDropList
       #dropList="cdkDropList"
       [cdkDropListData]="dropArray"
       [cdkDropListConnectedTo]="[dragList]"
       (cdkDropListDropped)="drop($event)">
    <div>Put your elements here:</div>
    <div class="builder" [ngStyle]="generalStyle$ | async">
      <div *ngFor="let item of dropArray" cdkDrag>
      <div [ngSwitch]="item.slice(0,-2)">
        <div *ngSwitchCase="'button'">
          <app-button [btnStyles]="btnStyles$ | async"></app-button>
        </div>
        <div *ngSwitchCase="'checkbox'">
          <app-checkbox [checkboxStyles]="checkboxStyles$ | async"></app-checkbox>
        </div>
        <div *ngSwitchCase="'input'">
          <app-input [inputStyles]="inputStyles$ | async"></app-input>
        </div>
        <div *ngSwitchCase="'label'">
          <app-label [labelStyles]="labelStyles$ | async"></app-label>
        </div>
        <div *ngSwitchCase="'select'">
          <app-select [selectStyles]="selectStyles$ | async"></app-select>
        </div>
        <div *ngSwitchCase="'textarea'">
          <app-textarea [textareaStyles]="textareaStyles$ | async"></app-textarea>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<div #comp3 class="portal">
  <h3>Element section</h3>
  <div cdkDropList
         #dragList="cdkDropList"
         [cdkDropListData]="dragArray"
         [cdkDropListConnectedTo]="[dropList]"
         (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of dragArray" cdkDrag>
      <div [ngSwitch]="item">
        <div *ngSwitchCase="'button'" ><app-button  [btnStyles]="btnStyles$ | async"></app-button></div>
        <div *ngSwitchCase="'checkbox'"><app-checkbox [checkboxStyles]="checkboxStyles$ | async" ></app-checkbox></div>
        <div *ngSwitchCase="'input'"><app-input [inputStyles]="inputStyles$ | async"></app-input></div>
        <div *ngSwitchCase="'label'"><app-label [labelStyles]="labelStyles$ | async"></app-label></div>
        <div *ngSwitchCase="'select'"><app-select [selectStyles]="selectStyles$ | async"></app-select></div>
        <div *ngSwitchCase="'textarea'"><app-textarea [textareaStyles]="textareaStyles$ | async"></app-textarea></div>
      </div>
    </div>
  </div>
</div>
