<div>
  <button routerLink="/login" (click)="logout()">Logout</button>
</div>
<div class="example-portal-outlet">
  <div class="portal-outlet">
    <ng-container #accordionContainer cdkPortalOutlet></ng-container>
  </div>
  <div class="portal-outlet">
    <ng-container #builderContainer cdkPortalOutlet></ng-container>
  </div>
  <div class="portal-outlet">
    <ng-container #elementsContainer cdkPortalOutlet></ng-container>
  </div>
</div>

<div #accordionComp class="portal-outlet">
  <app-switch item="general"></app-switch>
  <div *ngFor="let item of dropArray">
    <app-switch [item]="item"></app-switch>
  </div>
</div>
<div [formGroup]="form" #builderComp class="portal" >
  <h3>Builder section</h3>
  <div cdkDropList
       #dropList="cdkDropList"
       [cdkDropListData]="dropArray"
       [cdkDropListConnectedTo]="[dragList]"
       (cdkDropListDropped)="drop($event)">
    <div>Put your elements here:</div>
    <div class="builder" [ngStyle]="getStylesByType('general') | ngrxPush">
      <div *ngFor="let item of dropArray" cdkDrag>
        <app-switch-builder [item]="item"></app-switch-builder>
      </div>
    </div>
  </div>
</div>
<div #elementsComp class="portal">
  <h3>Element section</h3>
  <div cdkDropList
         #dragList="cdkDropList"
         [cdkDropListData]="dragArray"
         [cdkDropListConnectedTo]="[dropList]"
         (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of dragArray" cdkDrag>
      <app-switch-builder [item]="item"></app-switch-builder>
    </div>
  </div>
</div>
