<h1>Create account</h1>

<div class="form-wrapper">
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="control">
        <input type="text" placeholder="email" formControlName="email">
      </div>
      <div class="control">
        <input type="password" placeholder="password" formControlName="password">

      </div>
      <div class="privacy-policy-wrapper">
        <div class="privacy-policy-checkbox">
          <input type="checkbox" class="checkbox" formControlName="check">
        </div>
        <div>
          I agree to the <a class="privacy-policy-link" routerLink="/registration">Terms</a> and <a class="privacy-policy-link" routerLink="/registration">Privacy Policy</a>
        </div>
      </div>
      <div class="form-buttons">
        <button class="form-button sign-up" type="submit" [disabled]="form.invalid">Sign up</button>
        <button class="form-button sign-in" (click)="routeToLogin()">Sign in</button>
      </div>
    </form>
  </div>
</div>

