.title{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 20px;
  border-radius: 20px;
  &:hover{
    background-color: #F3F3F3;
  }
}

.form-wrapper{
  padding: 20px;
  border-bottom: 1px solid black;
}

.arrow-btn{
  background-color: transparent;
  outline: none;
  border: none;
}
