<div [ngSwitch]="type">
  <div *ngSwitchCase="Enum.BUTTON" ><app-button  [styles]="styles$ | ngrxPush"></app-button></div>
  <div *ngSwitchCase="Enum.CHECKBOX"><app-checkbox [styles]="styles$ | ngrxPush" ></app-checkbox></div>
  <div *ngSwitchCase="Enum.INPUT"><app-input [styles]="styles$ | ngrxPush"></app-input></div>
  <div *ngSwitchCase="Enum.LABEL"><app-label [styles]="styles$ | ngrxPush"></app-label></div>
  <div *ngSwitchCase="Enum.SELECT"><app-select [styles]="styles$ | ngrxPush"></app-select></div>
  <div *ngSwitchCase="Enum.TEXTAREA"><app-textarea [styles]="styles$ | ngrxPush"></app-textarea></div>
</div>
